/* 画面上部の「Change Your Life」帯部分 */
.title-contents {
  width: 100vw;
  height: 40vh;
  background-image: image-url('runner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

/* room一覧部分 */
.room-list-container {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: scroll;
}

.room-list-header {
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.room-list-header h2 {
  font-family: 'Playfair Display', serif;
}

.search-box {
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%) !important;
  width: 70% !important;
}

.room-contents {
  margin-top: 50px;
}

.room-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.room-item {
  background-color: #fff;
  border: 2px double #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.room-name {
  margin: 0;
}

.room-meta {
  color: #999;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.room-level {
  background-color: #ccc;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-left: 5px;
  padding: 2px 5px;
}

.room-habit {
  margin-bottom: 5px;
}

.room-user {
  color: #999;
  font-size: 0.8em;
}

.room-creator {
  color: #999;
}

.room-creator:hover {
  color: #999;
}

.room-show-link {
  background-color: #f78733;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  margin: 10px;
}

.room-show-link:hover {
  color: #fff;
}

.room-join-link {
  background-color: #f00;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  margin: 10px;
}

.room-join-link:hover {
  color: #fff;
}