.room-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 5vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.room-permission {
  font-size: 40px;
  margin-bottom: 30px;
  color: #696969;
}

.room-explain-box {
  font-size: 30px;
  margin-bottom: 30px;
  overflow-wrap: anywhere;
  font-weight: bold;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-room {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-value img {
  height: 20px;
  width: 20px;
  vertical-align: top;
}

.room-join-btn {
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.room-join-btn:hover {
  color: #fff;
}

.room-e-d_btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

.room-edit-btn {
  background-color: #753244;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.room-edit-btn:hover {
  color: #fff;
}

.room-destroy-btn {
  background-color: #696969;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.room-destroy-btn:hover {
  color: #fff;
}

.room-move-btn {
  background-color: #93FFAB;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.room-move-btn:hover {
  color: black;
}

.room-box form {
  width: 100%;
}

.room-box h4 {
  text-align: center;
  margin-top: 20px;
}

.comment-form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.comment-form-message {
  flex-grow: 1;
  margin-right: 10px;
}

.comment-form-submit {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.comment-form-submit i {
  color: #fff;
  font-size: 15px;
  display: block;
  margin: auto;
}

.comment-btn {
  display: none;
}

.comments {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.comment-user-icon {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  margin-right: 10px;
}

.comment-user-nickname {
  text-decoration: none;
  color: black;
}

.comment-user-nickname:hover {
  color: black;
}

.reply-comment-btn {
  width: 50px;
  height: 35px;
  background-color: #ccc;
  border-radius: 10px 10px;
  text-align: center;
  line-height: 35px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.reply-comment-btn:hover {
  color: white;
}