<%= render "shared/header" %>
<%= render "shared/second-header" %>

<div class="notification-index">
  <div class="notification-title">通知一覧</div>
  <!-- 自分の投稿に対するいいねは通知に表示しない -->
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <%= render notifications %>
  <% unless notifications.exists? %>
    <div class="not-notifications">通知はありません</div>
  <% end %>
</div>