.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.col-12 {
  display: flex;
}

.current_user-icon {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: var(--bs-gray);
  padding: 8px;
  border-radius: 3px;
}

.search-icon {
  width: 100%;
}

.hidden{
  display: none;
}

.menu-lists {
  position: fixed;
  margin-top: 70px;
  margin-left: 250px;
  height: 90px;
  overflow: scroll; 
}

.pull-down-lists {
  margin-left: 5px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #d3d3d3;
  padding: 0 20px;
  background-color: #c0c0c0;
}

.pull-down-list {
  text-decoration: none;
  color: #696969;
}

.nav a:hover {
  color: black;
}

.nav {
  align-items: center;
  justify-content: space-between;
}

.notification-bell {
  text-decoration: none;
  color: black;
}

.fa-stack {
  position: relative;
  display: inline-block;
}

.n-bell {
  font-size: 1.6em !important;
  padding-top: 3px !important;
  margin-left: 4px;
}

.n-circle {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 0.8em;
}