<% if user_signed_in? %>
  <% if room.liked_by?(current_user) %>
    <td>
      <%= link_to room_like_path(room, room.likes), method: :DELETE, remote: true do %>
        <i class="fa fa-heart unlike-btn"></i>
      <% end %>
      <%= room.likes.count %>
    </td>
  <% else %>
    <td>
      <%=link_to room_likes_path(room), method: :POST, remote: true do %>
        <i class="fa fa-heart like-btn"></i>
      <% end %>
      <%= room.likes.count %>
    </td>
  <% end %>
<% end %>