<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <%= image_tag "logo.jpg", class:"bi me-2", width:"40", height:"40" %>
      <span class="fs-4">Esco</span>
    </a>
  </div>
</header>