<div class="chat">
  <div class="chat-logo">
    <%= image_tag "logo.jpg", class: "chat-logo-jpg"%>
  </div>
  <div class="chat-title">
    <%= link_to "Esco", "/", class: "chat-title-string"%>
  </div>
</div>