.notification-index {
  margin: 0 auto;
}

.notification-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.notification-user {
  color: #1e8b61;
}

.notification-room {
  color: #1e8b61;
}

.form-inline {
  display: flex;
  justify-content: space-between;
}

.not-notifications {
  text-align: center;
  font-size: 18px;
}

.notification-update {
  color: #5673AD;
  text-decoration: none;
  border: 1px solid #5673AD;
  padding: 5px;
  font-size: 15px;
}

.notification-update:hover {
  color: #5673AD;
}

.notification-user-show {
  color: #f78733;
  text-decoration: none;
  border: 1px solid #f78733;
  padding: 5px;
  font-size: 15px;
  margin-left: 160px;
}

.notification-user-show:hover {
  color: #f78733;
}

.notification-room-show {
  color: red;
  text-decoration: none;
  border: 1px solid red;
  padding: 5px;
  font-size: 15px;
  margin-left: 120px;
}

.notification-room-show:hover {
  color: red;
}

.notification-user-join {
  color: #00CC66;
  text-decoration: none;
  border: 1px solid #00CC66;
  padding: 5px;
  font-size: 15px;
  margin-left: 210px;
}

.notification-user-join:hover {
  color: #00CC66;
}