.wday-0 {
  color: red !important;
}
.wday-6 {
   color: blue !important;
}

.simple-calendar th:first-child,
.simple-calendar td:first-child {
  color: red !important;
}

.simple-calendar th:last-child,
.simple-calendar td:last-child {
  color: blue !important;
}

.calendar-title {
  font-size: 20px;
}

.calendar-index {
  padding: 20px;
  display: flex;
}

.calendar-form {
  padding-top: 50px;
}

.calendar-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  margin-left: 20px;
  border-radius: 10px;
}

.calendar-wrapper div {
  color: black;
  font-size: 14px;
}

.calendar-bottom {
  text-align: center;
  margin-bottom: 20px;
}

.calendar-bottom h3 {
  margin-bottom: 15px;
}

.calendar-heading {
  text-align: center;
  margin-bottom: 10px;
}

.calendar-heading a {
  text-decoration: none;
  color: #3474c7;
}

.calendar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.calendar-bottom h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

.form-row {
  width: 100%;
  margin-bottom: 20px;
}

.form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.calendar-time label{
  display: flex;
}

label {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.form-col input[type="text"],
.form-col input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

.form-col [type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #3897f0;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.form-col [type="submit"]:hover {
  background-color: #3474c7;
}
